@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1 class="heading"> <span>Forgot</span> Password </h1>
<div class="row">
    <div class="box-container">
        <section class="contact" id="contact">
            <div class="row">
            <form method="post">
                <hr />
                <div asp-validation-summary="All" class=""></div>
                <div class="box">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="box" />
                    <span asp-validation-for="Input.Email" class=""></span>
                </div>
                
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
               
            </form>
            </div>
        </section>
    </div>
</div>
@*<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
